/* media query */
@media (min-width: 700px) {
  body{
    padding: 8rem;
  }
  
  main {
    max-width: 1020px;
    display: flex;
    gap: 10rem;
  }

  main > section {
    max-width: 484px;
  }

  ul li {
    max-width: 450px;
    align-items: center;
  }

  ul li:first-child {
    gap: 6.6rem;
  }

  ul li:nth-child(2),
  ul li:nth-child(3) {
    gap: 5.4rem;
  }

  ul li + li {
    margin-top: 3.2rem;
  }
}
